{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>George Resume</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href={% static "assets/img/favicon.png" %} rel="icon">
  <link href={% static "assets/img/apple-touch-icon.png" %} rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href={% static "assets/vendor/aos/aos.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/boxicons/css/boxicons.min.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/glightbox/css/glightbox.min.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/swiper/swiper-bundle.min.css" %} rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href={% static "assets/css/style.css" %} rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#info" class="nav-link scrollto"><i class="bx bx-info-circle"></i> <span>Info</span></a></li>
        <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-stats"></i> <span>Skills</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-code-alt"></i> <span>Portfolio</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>George Lobzanidze</h1>
      <p>I'm <span class="typed" data-typed-items="Junior Developer, Junior Designer"></span></p>
      <div class="social-links">
        <a href="https://github.com/SkyS1ayer"target="_blank" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://t.me/Unkn0wnexe"target="_blank" class="telegram"><i class="bx bxl-telegram"></i></a>
        <a href="https://hh.ru/applicant/resumes/view?resume=2f12ff2bff0b5eeab00039ed1f33564f557336"target="_blank" class="headhunter"><i class="bx bx-heading"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="info" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Info</h2>
        </div>

        <div class="row">
          <div class="col-lg-0 pt-0 pt-lg-0 content">
            
              <h3>Junior full stack software developer</h3>
            
            <p class="fst-italic">
              Информация о связи и местоположении.
            </p >
         
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Город:</strong> <span>Москва, Россия</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Номер Телефона:</strong> <span>+7 903-496-18-83</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>E-mail:</strong> <span>JoyBoy.exe@yandex.ru</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong >HeadHunter:</strong> <a href="https://hh.ru/applicant/resumes/view?resume=2f12ff2bff0b5eeab00039ed1f33564f557336"target="_blank">hh.ru/resumes</a></li>
                  <li><i class="bi bi-chevron-right"></i> <strong >Telegram:</strong> <a href="https://t.me/Unkn0wnexe"target="_blank">t.me/Unkn0wnexe</a></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>GitHub:</strong> <a href="https://github.com/SkyS1ayer"target="_blank">github.com/SkyS1ayer</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">HTML <i class="val">30%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">30%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Python <i class="val">40%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">C# <i class="val">40%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SQL <i class="val">30%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Photoshop | Figma <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Обо мне</h3>
            <div class="resume-item pb-0">
              <h4>Лобжанидзе Георгий Алексеевич</h4>
              <p><em>Аналитический ум, стрессоустойчивость, техническое мышление, организованность, внимание к деталям, умение быстро адаптироваться к ситуации, энтузиазм, готовность к работе в команде, готовность к сложным проектам, требующим самостоятельного поиска информации и самообучения.</em></p>
              <h5><em>Самоучка из провинции готовый работать как папа Карло.</em></h5>
              <p><em>Мой опыт программирования лишь 3 месяца, но это не мешает мне развиваться с большой скоростью изучая множество Computer Science элементов, стремление обучаться и совершенствоваться в данной стезе.
              </em></p>
            </div>

            <h3 class="resume-title">Образование</h3>
            <div class="resume-item">
              <h4>Высшее образование (Бакалавр)</h4>
              <h5>2017 - 2021</h5>
              <p><em>Кабардино-Балкарский государственный университет им. Х.М. Бербекова, Нальчик</em></p>
              <p>Информационные технологии в управлении техническими системами, Управление и информатика в технических системах</p>
            </div>
            <div class="resume-item">
              <h4>Знание языков</h4>
              <p>Русский — Родной</p>
              <p>Английский — A2 — Элементарный</p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">My Skills</h3>
            <div class="resume-item">
              <h4>Hard Skills</h4>
              <ul>
                <li>Python 3.10</li>
                <li>Django</li>
                <li>Matplotlib, Pygame, Selenium</li>
                <li>C#</li>
                <li>Windows Forms</li>
                <li>HTML | CSS</li>
                <li>Photoshop | Figma</li>
                <li>GIT</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Soft Skills</h4>
              <ul>
                <li>Time and project management</li>
                <li>Active listening</li>
                <li>Adaptability</li>
                <li>Creativity</li>
                <li>Work ethic</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= --> <!-- MY PET PROJECT SET-->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Мои маленькие пет-проекты, которые я веду и модернизирую со временем изменяя механики или добавляя интерфейс.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-pet-project">Pet-Project</li>
              <li data-filter=".filter-project">Project</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-pet-project">
            <div class="portfolio-wrap">
              <img src={% static "assets/img/portfolio/portfolio-1.jpg" %} class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Space Invaders</h4>
                <p>Python-Pet-Project</p>
                <div class="portfolio-links">
                  <a href="https://github.com/SkyS1ayer/alien_invasion_pet_project"target="_blank"><i class="bx bxl-github"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-pet-project">
            <div class="portfolio-wrap">
              <img src={% static  "assets/img/portfolio/portfolio-2.jpg" %} class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web App</h4>
                <p>Python-Pet-Project</p>
                <div class="portfolio-links">
                  <a href="https://github.com/biati-digital/glightbox"target="_blank"><i class="bx bxl-github"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-pet-project">
            <div class="portfolio-wrap">
              <img src={% static "assets/img/portfolio/portfolio-3.jpg" %} class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Data Visual</h4>
                <p>Python-Pet-Project</p>
                <div class="portfolio-links">
                  <a href="https://github.com/SkyS1ayer/data_visualization"target="_blank"><i class="bx bxl-github"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-pet-project">
            <div class="portfolio-wrap">
              <img src={% static "assets/img/portfolio/portfolio-4.jpg" %} class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Stager Encryption</h4>
                <p>In Development</p>
                <div class="portfolio-links">
                  <a href="https://github.com/biati-digital/glightbox"target="_blank"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-project">
            <div class="portfolio-wrap">
              <img src={% static "assets/img/portfolio/portfolio-5.jpg" %} class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Construct</h4>
                <p>In Development</p>
                <div class="portfolio-links">
                  <a href="https://github.com/biati-digital/glightbox"target="_blank"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>My Links</h3>
      <div class="social-links">
        <a href="https://github.com/SkyS1ayer"target="_blank" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://t.me/Unkn0wnexe"target="_blank" class="telegram"><i class="bx bxl-telegram"></i></a>
        <a href="https://hh.ru/applicant/resumes/view?resume=2f12ff2bff0b5eeab00039ed1f33564f557336" target="_blank" class="headhunter"><i class="bx bx-heading"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src={% static "assets/vendor/purecounter/purecounter_vanilla.js" %}></script>
  <script src={% static "assets/vendor/aos/aos.js" %}></script>
  <script src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
  <script src={% static "assets/vendor/glightbox/js/glightbox.min.js" %}></script>
  <script src={% static "assets/vendor/isotope-layout/isotope.pkgd.min.js" %}></script>
  <script src={% static "assets/vendor/swiper/swiper-bundle.min.js" %}></script>
  <script src={% static "assets/vendor/typed.js/typed.min.js" %}></script>
  <script src={% static "assets/vendor/waypoints/noframework.waypoints.js" %}></script>
  <script src={% static "assets/vendor/php-email-form/validate.js" %}></script>

  <!-- Template Main JS File -->
  <script src={% static "assets/js/main.js" %}></script>

</body>

</html>


